html {
    height: 100%;
}

body {
    height: 100%;
    color: white; 
    background-color: black;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    display: flex;
}
.navbar {
    display: flex;
    justify-content: space-around;
}
.footer {
    display:flex;
    justify-content: space-between;
}